@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}


ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}


.fixclear,
.fixclear::after,
.fixclear::before {
    content: '';
    display: block;
    clear: both;
}

.inner1 {
    width: 1280px;
    margin: 0 auto;
}

.inner2 {
    width: 1170px;
    margin: 0 auto;
}